.container {
	background: #eee;
}

.container__header,
.picture-template__name {
	text-align: center;
}

.container__header {
	border: 2px solid #222;
	width: 30%;
	margin: 20px auto;
	font-weight: bold;
}

.picture-template__name{
	font-size: 20px;
}

.left-column{ 
	min-height: 200px;
}

.right-column {
	min-height: 100px;
}

.img-template {
	min-height: 120px;
	border-bottom: 1px solid #ccc;
	width: 65%; 
}

.view { 
	width: 100%;
	background: lightblue;
	border: 1px solid #222;
}

/* BUTTONS COLOR */
.btn {
	border: none;
}

.normal {
	background: #cc6600;
}

.fire {
	background: red;
}

.water {
	background: aqua;
}

.bug {
	background: brown;
}

.flying {
	background: #9999ff;
}

.poison {
	background: #ff0066;
}

.electric {
	background: gold;
}

.ground {
	background: brown;
}

.fairy {
	background: #cc99ff;
}

.btn {
	color: white;
}

.btn:hover {
	transform: scale(1.02);
	color: white;
	box-shadow: 0px 2px 5px #888;
}

.btn:focus {
	outline:0;
}

#loadMore {
	margin: 20px auto;
	width: 95%;
	font-size: 22px;
}

/* table */
.wrapper-right {
	border: 2px solid black;
	padding: 10px;
	position: fixed;
	min-width: 20%;
	background: #fff;
}

.view__image {
	min-width: 65%;
	display: block;
	margin: 0 auto;
}

.right-template__name {
	border-top: 1px solid #ccc;
	font-size: 22px;
	text-align: center;
	padding-top: 10px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    font-size: 16px;
}

table {
	width: 100%;
}

tr>td {
	width: 60%;
}

