.container {
	background: #eee;
}

.container__header,
.picture-template__name {
	text-align: center;
}

.container__header {
	border: 2px solid #222;
	width: 30%;
	margin: 20px auto;
	font-weight: bold;
}

.picture-template__name{
	font-size: 20px;
}

.left-column{ 
	min-height: 200px;
}

.right-column {
	min-height: 100px;
}

.img-template {
	min-height: 120px;
	border-bottom: 1px solid #ccc;
	width: 65%; 
}

.view { 
	width: 100%;
	background: lightblue;
	border: 1px solid #222;
}

/* BUTTONS COLOR */
.btn {
	border: none;
}

.normal {
	background: #cc6600;
}

.fire {
	background: red;
}

.water {
	background: aqua;
}

.bug {
	background: brown;
}

.flying {
	background: #9999ff;
}

.poison {
	background: #ff0066;
}

.electric {
	background: gold;
}

.ground {
	background: brown;
}

.fairy {
	background: #cc99ff;
}

.btn {
	color: white;
}

.btn:hover {
	transform: scale(1.02);
	color: white;
	box-shadow: 0px 2px 5px #888;
}

.btn:focus {
	outline:0;
}

#loadMore {
	margin: 20px auto;
	width: 95%;
	font-size: 22px;
}

/* table */
.wrapper-right {
	border: 2px solid black;
	padding: 10px;
	position: fixed;
	min-width: 17.5%;
	background: #fff;
}

.view__image {
	min-width: 65%;
	display: block;
	margin: 0 auto;
}

.right-template__name {
	border-top: 1px solid #ccc;
	font-size: 22px;
	text-align: center;
	padding-top: 10px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    font-size: 16px;
}

table {
	width: 100%;
}

tr>td {
	width: 60%;
}

@media screen and (max-width: 1200px) {
  .wrapper-right {
    width: 24%;
  }
}

@media screen and (max-width: 990px) {
  .wrapper-right {
    width: 220px;
  }

  .img-template {
		width: 60%;
	}
}

@media screen and (max-width: 768px) {
  .wrapper-right {
    width: 43%;
  }

  .right-template__name {
	font-size: 20px;
	}

	.container__header {
		width: 70%;
	}
}

@media screen and (max-width: 480px) {
	.wrapper-right {
    width: 40%;
  }

	.picture-template__name {
		font-size:  18px;
	}

	.container__header {
		width: 60%;
	}

	td {
		font-size: 13px;
	}

	.btn {
		margin: 1px 0;
	}
}

/* POKEDEX CONTAINER*/
#wait {
	display: none;
	width:100vw;
	height:100vh;
	background: rgba(0, 0, 0, .5); 
	position: fixed; 
	z-index: 999;
}

/*POKEDEX*/
@-webkit-keyframes spinning {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes color-change {
	0%, 20%, 40%, 60%, 100% {
	    background-color: #fff;
	}
	10%, 30%, 50%, 70%, 90% {
	    background-color: #f00;
	}
}

/* pokeball container */
#StefTastan #pokeball-container {
	width: 10em;
	height: 10em;
	position: absolute;
	left: 45%;
	top: 30%;
  -webkit-animation: spinning 3s infinite;
}

#StefTastan #pokeball { 
	width: 10em;
	height: 10em;
	background-color: #fff;
	border-radius: 50%;
	position: relative;
	overflow: hidden;
}

#StefTastan #pokeball::before {
	content: '';
	background-color: red;
	border-radius: 5em 5em 0 0;
	width: 10em;
	height: 5em;
	position: absolute;
}

#StefTastan #pokeball .pokeball-details {
	width: 10em;
	height: 1em;
	background-color: #333;
	position: absolute;
	top: 4.5em;
}

/* the pokemon's button or whatever it is */
#StefTastan #pokeball .pokeball-details::before {
	content: '';
	width: 3.5em;
	height: 3.5em;
	border-radius: 50%;
	background-color: #333;
	position: absolute;
	top: -1.25em;
	left: 3.25em;
	z-index: 200;
}

#StefTastan #pokeball .pokeball-details::after {
	content: '';
	width: 2.6em;
	height: 2.6em;
	border: 0.35em solid white;
	border-radius: 50%;
	background-color: #fff;
	position: absolute;
	top: -.8em;
	left: 3.7em;
	margin: 0 auto;
	z-index: 250;
	-webkit-animation: color-change 3s infinite;
}
